.main {
    color:aqua;
    text-align: center;
}

body {
    background-color: pink;
}

p {
    font-style: verdana;
    font-size: 20px;
}
.header {
  padding: 60px;
  text-align: left;
  background: #ff0000ca;
  color: white;
}
.header h1{
  font-size: 48px;
}
